.body{
  height:100vh;
}
.logo-navbar{
  width: 50px;
  height: 50px;
}

.navbar-top{
  background-color: #292a39 !important;
  background-image:
  linear-gradient(
    to top right, 
    #292a39, #525472
  );
}

.box{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:linear-gradient(to top,#47abff,#5ea0f7,#7b94f1, #9274c9);
}

/* .form-box {
  border: 1px solid white;
  border-radius: 10px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 2px grey;
} */

.btn-register{
  background-color:#9274c9;
  color:#fff;
}

.title-register{
  font-family: 'Montserrat', sans-serif;
  color:#3d4255;
}

.user-big-icon {
  font-size: 60px;
  border: 2px solid white;
  border-radius: 100%;
  padding: 20px;
}

.white-line {
  border: 0.6px solid white;
  margin-top:30px;
}

.side-box{
  width:80px;
  background-image:linear-gradient(to top,#47abff,#5ea0f7,#7b94f1, #9274c9);
}

.chat-big-icon{
  font-size: 60px;
  padding: 20px;
}

.chat-icons{
  font-size: 40px;
  padding: 10px;
}

.nav-box{
  height:80px;
  background-color: #fff;
}
.search{
  position: absolute;
  outline:none;
  z-index:20;
  right:20px;
}
.content{
  height:100vh;
}
.all-chat{
  width:350px;
  background-color: #47abff;
}
.all-chat-head{
  height:80px;
  background-color: #525472;
}
.chat{
  background-color: bisque;
}
.chat-head{
  height:80px;
  background-color: aliceblue;
}
.active-chat{
  width:100px;
  background-color: #9274c9;
}
.active-head{
  height:80px;
  background-color: teal;
}
